<div id="user-list">

    <div class="container pt-2 pb-3">

        <h2 class="text-center text-or pb-2 userList"><%= __('view_users.title_list_users') %></h2>


    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
